<div class="nav-bar container-fluid  ">
    
        <img class="nav-toggle" src="../../assets/images/bars-solid.svg" alt="">
        <img class="smlogo" src="../../assets/images/Logo.png" alt=""> 
    

    <div class="menu  row d-flex justify-content-between align-items-center" >
        <div class="logo col-md-2">
             <img class="fulllogo" src="../../assets/images/Logo.png" alt=""> 
        </div>
        <div class="sub-menu col-md-8 row justify-content-md-center align-items-center">
            <div class="elem col ">About</div>
            <div class="elem col">cources</div>
            <div class="elem col">teachers</div>
            <div class="elem col" >pricing</div>
            <div class="elem partner col-auto">
                <div class="new-tag ">New</div>
                <div class="text">BECOMING A BUSINESS PARTNER ON ONLINE</div>
                
            </div>
        </div>
        <div class="elem button col-md-2 row d-flex justify-content-md-center align-items-center">
            <div class="login col">Log In</div>
            <div class="signin col d-flex justify-content-md-center align-items-center">Sign In</div>
        </div>
    </div>
</div>
